@CHARSET "UTF-8";

.filebox {
	outline: 2px dashed #92b0b3;
	outline-offset: -10px;
	text-align: center;
	transition: all .15s ease-in-out;
	width: 1000px;
	height: 500px;
	background-color: gray;
	
}

.folderbox{
	text-align:center;
}

.fileObj {
/* 	border: 1px solid blue;
	background-color: white;
	color: black;
	width: 100px;
	height: 50px;
	margin: 10px; */
}

.createDirBtn {
	width: 80px;
	height: 40px;
	color: black;
	border: 1px solid black;
	text-align: center;
	padding-top: 7px;
	margin-bottom: 20px;
}

.modal {
	position: absolute;
	width: 50%;
	height: 200px;
	background: black;
	top: 0;
	left: 0;
	display: none;
	 text-align: center;
}

.deleteBtn{
	
	color: black;
	display: inline;
}

.goParent{
	width: 80px;
	height: 40px;
	color: black;
	border: 1px solid black;
	text-align: center;
	padding-top: 7px;
	margin-bottom: 20px;
}

.file{
	font-size: 15px;
	width: 80px;
	height: 40px;
	display: inline;
	
}