<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sst.mapper.WANoteMapper">

	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection='typeArr'>
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							w_title like '%'||#{cri.keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							w_question like '%'||#{cri.keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<insert id="createWANote" parameterType="org.sst.domain.WANoteVO">
		insert into
		WAnote
		(w_num, w_title, w_question, w_answer, w_reason, w_tag1, w_tag2, m_id)
		values('w'||to_char(wanote_seq.nextval), #{w_title}, #{w_question},
		#{w_answer}, #{w_reason}, #{w_tag1}, #{w_tag2}, #{m_id})
	</insert>

	<!-- <select id="listWANote" resultType="org.sst.domain.WANoteVO" parameterType="String"> 
		<![CDATA[ select /*+INDEX_DESC(wanote pk_wanote) */ * from wanote where m_id=#{m_id} 
		]]> </select> -->

	<select id="listWithPagingWANote" resultType="org.sst.domain.WANoteVO" parameterType="java.util.HashMap">
		  <![CDATA[   
			select w_num, w_title, w_question, w_answer, w_reason, w_tag1, w_tag2, m_id from 
			(select  /*+INDEX_DESC(wanote pk_wanote) */ 
				rownum rn ,w_num, w_title, w_question, w_answer, w_reason, w_tag1, w_tag2, m_id
			 from wanote where m_id=#{m_id} and
		]]>
		<include refid="criteria"></include>  
  		<![CDATA[    
      	rownum <= #{cri.pageNum} * #{cri.amount}
      	)
  		where rn > (#{cri.pageNum} -1) * #{cri.amount}   
  	]]>
	</select>


	<select id="getTotalCount" resultType="int">
		select count(*) from wanote where
		<include refid="criteria"></include>
		 m_id=#{m_id}
	</select>



	<select id="readWANote" parameterType="String" resultType="org.sst.domain.WANoteVO">
		select * from wanote where w_num=#{w_num}
	</select>

	<delete id="deleteWANote" parameterType="String">
		DELETE FROM
		wanote WHERE w_num=#{w_num}
	</delete>

	<update id="updateWANote" parameterType="org.sst.domain.WANoteVO">
		UPDATE WAnote
		SET w_title= #{w_title},w_question= #{w_question},w_answer=
		#{w_answer}
		,w_reason= #{w_reason}, w_tag1= #{w_tag1},w_tag2=#{w_tag2}
		WHERE w_num=#{w_num}
	</update>


	
	
	
	<select id="listAllTag" resultType="org.sst.domain.WAtagVO" parameterType="String">
	select tag.tg_num,tg_name,count(*) as count from tag,watag  where tg_name LIKE  '%'||#{keyword}||'%' 
	and watag.tg_num=tag.tg_num group by tag.tg_num,tg_name
	</select>
	<select id="readTag" resultType="org.sst.domain.WAtagVO" parameterType="String">
	select * from tag where tg_name =#{tg_name}
	</select>
	<insert id="createTag" useGeneratedKeys="true" keyColumn="tg_num" keyProperty="tg_num"  parameterType="org.sst.domain.WAtagVO">
	insert into tag(tg_num,tg_name) values(tag_seq.nextval,#{tg_name})
	</insert>
	
	<insert id="createWATag" parameterType="java.util.HashMap">
	insert into watag(w_num,tg_num) values(#{w_num},#{tg_num})
	</insert>
	
	<select id="listWATag" resultType="org.sst.domain.WAtagVO" parameterType="String">
	select * from watag where w_num=#{w_num}
	</select>

	<delete id="deleteAllWaTag">
	delete from watag where w_num=#{w_num}
	</delete>

	<select id="countTagChart" resultType="java.util.HashMap"
		parameterType="String">
		 <![CDATA[   
		select * from (select tg_name,count(*) as count from tag,watag,wanote
		where tag.tg_num=watag.tg_num and wanote.w_num = watag.w_num and m_id=#{m_id}
		group by tg_name order by count(*) desc) where rownum<7
				]]>
	</select>

	<select id="countReasonChart" resultType="java.util.HashMap"
		parameterType="String">
		select w_reason,count(*) as count from wanote
		where m_id=#{m_id}
		group by w_reason order by count(*) desc

	</select>


</mapper>