<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sst.mapper.WATagMapper">


	<select id="readTag" resultType="org.sst.domain.WAtagVO" parameterType="String">
	select * from tag where tg_name=#{tg_name}
	</select>
	
	
</mapper>